---

import Head from "../../Layout/Head.astro"
import Login from "../../Components/Login.svelte";
import "../../styles/global.css"


---

<Head title = "Sign-In" meta="Sign-In For More Access" img="https://conceptians.org/img/conceptians.png">
</Head>


<body>
    <Login client:load></Login>
</body>
