---
import Head from "../Layout/Head.astro"
import Header from "../Components/Header.astro"
import Footer from "../Components/Footer.astro"

const response = await fetch('http://localhost:8000/blog');
const articles = await response.json();

---
<Head>
</Head>



<body class="d-flex flex-column">
    <Header></Header>
    <main class="d-flex justify-content-center align-items-center">
        <ul>
            {articles.map(name => (
                <li><a href={name.title}>{name.title}</a></li>
            ))}
        </ul>
    </main>
</body>



<style>

main{
    width: 100vw;
    height: 100vh;
}
</style>
