---
import Head from "../Layout/Head.astro"
import Header from "../Components/Header.astro"
import Footer from "../Components/Footer.astro"

const response = await fetch('http://localhost:8000/blog');
const articles = await response.json();

---
<Head>
</Head>



<body class="d-flex flex-column">
    <Header></Header>
    <main class="d-flex justify-content-center align-items-center">
        <ul>
            {articles.map(name => (
                <li><a href={name.title}>{name.title}</a></li>
            ))}
        </ul>
    </main>
</body>



<style>

html{
	margin: 0;
	padding: 0;
  
}

body{
  margin: 0;
	width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

main{
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Opera */
    scrollbar-width: none;  /* Firefox */
}

main::-webkit-scrollbar {
width: 7px;
height: 3px;
}

main::-webkit-scrollbar-track {
display: none;
}

main::-webkit-scrollbar-thumb {
background: gray;  
border-radius: 10px;
}

main::-webkit-scrollbar-thumb:hover {
background: #000;  
}

</style>
