---

import Editor from '../../Components/editor.svelte'
import Head from "../../Layout/Head.astro"

import "../../styles/global.css"
---

<Head title = "Editor" meta="Share your ideas here" img="https://conceptians.org/img/conceptians.png">
</Head>


<body>
    <Editor client:load></Editor>
</body>