---
import Head from "../Layout/Head.astro"
const emails = import.meta.env.PUBLIC_EMAIL;

---

<Head></Head>

<footer class="text-center text-lg-start pt-5">
    <div class="container-sm py-0">
        <div class="row justify-content-between">
            <div class="col-12 col-md-3 mx-auto mt-3">
                <div>
                    <img src="img/C.png" alt="">
                    <p>Students lead organization.</p>
                </div>
            </div>
            <div class="col-12 col-md-3 mx-auto mt-3">
                <h6 class="mb-4 font-weight-bold">Studio</h6>
                <p class="">
                    <a class="text-decoration-none text-dark" href="#">About Us</a>
                </p>
                <p>
                    <a class="text-decoration-none text-dark" href="#">Carrers</a>
                </p>
                <p>
                    <a class="text-decoration-none text-dark" href="#">Contact Us</a>
                </p>
            </div>
            <div class="col-12 col-md-3 mx-auto mt-3">
                <h6 class="mb-4 font-weight-bold">Contact Us</h6>
                <p class="">
                    <a class=" text-decoration-none text-dark" href="mailto:info@conception.com">info@coneptians.org</a>
                </p>
                <p class="">
                    <a class="text-decoration-none text-dark" href="tel:+959677888112">+959-677-888-112</a>
                </p>
                <p>
                    3500 Rock Hole Rd<br>
                    Palo Alto, NYC
                </p>
            </div>

            

            <hr class="d-md-none d-block">
            <div class="col-12 col-md-3 mx-auto mt-3">
                <h6 class="mb-4 font-weight-bold">Stay UpToDate</h6>
                <p class="">
                    <span>Follow our weekly newsletter</span>
                    <form id="form-submit" class="input-group mb-3">
                        <input type="email" id="sm-textbox" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="button-addon2" required>
                        <button class="btn btn-outline-secondary" type="submit">
                            <svg xmlns="" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                                <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                              </svg>
                        </button>
                    </form>
                </p>
                <p>
                    <p>Follow Us:</p>
                    <a href="" class="me-4">
                        <img class="bi-facebook" src="img/facebook.png" alt="">
                    </a>
                    <a href="" class="me-4">
                        <img class="bi-youtube" src="img/youtube.png" alt="">
                    </a>
                    <a href="" class="me-4">
                        <img class="bi-discord" src="img/discord.png" alt="">
                    </a>
                </p>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="copyright text-center p-3 text-uppercase mt-5">
        CopyRighted © 2022 : <a class="text-decoration-none text-dark" href="#">Conceptians</a>
    </div>
    <!-- Copyright -->
</footer>

<script is:inline define:vars={{ emails }}>

    const createMail = (email) => {
        axios.post(emails, email)
            .then(response => {
                const addedEmail = response.data;
                console.log(`POST: user is added`, addedEmail);
            })
            .catch(error => console.error(error));
    };
    
    const form = document.getElementById('form-submit');
    
    const formEvent = form.addEventListener('submit', event => {
        event.preventDefault();
    
        const email = document.getElementById('sm-textbox').value;
    
        const email_input = { email };
        createMail(email_input);
    });
    
</script>

<style>

footer{
    border-top: 1px solid rgba(0,0,0,.12);
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;    
    line-height: 160%;
    width: 100vw;
    color: #000;
}    

.bi-facebook, .bi-youtube, .bi-discord{
    width: 32px;
    height: 32px;
    transition: transform 1s ease-in-out;
}


.bi-facebook:hover, .bi-youtube:hover, .bi-discord:hover{
    transform: rotate(360deg);
 }

 @media (max-width: 767px) {
    footer{
        padding-top: 1rem !important;
    }

    .copyright{
        margin: 1rem 0rem 3rem 0rem !important;
    }
}
</style>