---

---

<div class="newsletter d-flex justify-content-center align-items-center">
    <div>
        <h2 class="search-text text-light text-center mb-4">
            What are you waiting for? <br>
            Subscribe to our weekly newsletter
        </h2>
        <form class="form-input d-flex justify-content-between">
            <input type="email" id="textbox" class="form-control email-subscribe" placeholder="Your Email Address..." required>
            <button type="submit" class="btn subscribe-btn">Subscribe</button>
        </form>
    </div>
</div>

<style>
    
.search-text{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}


.newsletter{
    height: 40%;
    width: 100vw;
    background-color: #496076;
    font-family: 'Poppins';
}

.email-subscribe{
    width: 70%;
    height: 50px;
    border-radius: 20px;
}

.subscribe-btn{
    width: 125px;
    border-radius: 20px;
    color: #000;
    background-color: #C2F1D9;
}
</style>

<script is:inline>

const main_form = document.querySelector('form');
const main_formEvent = main_form.addEventListener('submit', event => {
    event.preventDefault();
    let email = document.getElementById('textbox').value;
    const email_input = { email };
    createMail(email_input);
});

</script>