---
import Head from "../Layout/Head.astro"
import Header from "../Components/Header.astro"
import Footer from "../Components/Footer.astro"
import Search from "../Components/Search.astro";

import '../styles/global.css'

console.log(Astro.request.headers.get('cookie'))
---


<Head title="Home" meta="A community built for all the international students." img="https://conceptians.org/img/conceptians.png">
</Head>

<body>
    <Header></Header>
    <main class="h-screen overflow-x-hidden overflow-y-scroll">
			<section class="main-section border border-white relative">
                <img src="img/bubble.png" alt="bubble" class="absolute bg-none border-none shadow-none animate-none top-16 left-8">
				<div class="text-box">
					<div class="big-text"><p>A community built for
						<br>all the international students.</p></div>
					<div class="small-text"><p>Dear freshmen,<br>
						Even the greatest were beginners.<br>
						Join us and walk the brighter future with us</p></div>
					<div class="cool-button-box">
					<a href="/blogs/" class="cool-button">Explore Blogs<span>>></span></a>
						</div>
				</div>
				<div class="paint">
					<img src="img/paint.png" alt="">
				</div>
			</section>
            <div class="background bg-no-repeat bg-cover">
            <section class="sec-section">
				<div class="pop-out club">
					<img src="img/club.png" alt="">
				</div>
                <div class="sec-text-box">
					<div class="big-text"><p>Don't Waste Your Time!
                        <br>Join our club right away!!</p></div>
					<div class="small-text"><p>It is Exclusive,
                        <br>
						Efficient and <br>
						Easy for you.</p></div>
					<div class="cool-button-box">
					<a class="sec-cool-button"><span> << </span>Explore Clubs</a>
						</div>
				</div>
			</section>
            <section class="third-section">
				<div class="text-box">
					<div class="big-text"><p>Fascinating Courses are here!</p></div>
					<div class="small-text"><p>Wanna learn new things but don't know how to start?<br>
						Start Here!!</div>
					
				</div>
				<div class="paint">
					<img src="img/career.png" alt="">
				</div>
			</section>
            <section class="fourth-section">
				<div class="pop-out club">
					<img src="img/podcast.png" alt="">
				</div>
                <div class="sec-text-box">
					<div class="big-text"><p>From Students To Students
                        <br>Listen To Podcasts</p></div>
					<div class="small-text"><p>Podcats with interesting topics 
                        <br> that you wouldn't deny knowing.<br>
	                            </p></div>
					<div class="cool-button-box">
                        <a class="sec-cool-button"><span> << </span>Explore Clubs</a>
						</div>
				</div>
			</section>
        </div>
            <section class="final-section">
                <Search></Search>
                <Footer></Footer>
			</section>
            
        </main>
	</body>

<script is:inline>


const paints = document.querySelectorAll("div.paint")
const clubs = document.querySelectorAll("div.club")
const texts = document.querySelectorAll("div.text-box")


paints.forEach(paint => {
    observer.observe(paint)
})

clubs.forEach(club => {
    observer.observe(club)
})

texts.forEach(text => {
    observer.observe(text)
})

</script>

<style>

main{
    -ms-overflow-style: none;  /* IE and Opera */
    scrollbar-width: none;  /* Firefox */
}

main::-webkit-scrollbar {
width: 5px;
height: 1px;
}

main::-webkit-scrollbar-track {
 opacity: 0;
}

main::-webkit-scrollbar-thumb {
background: gray;  
border-radius: 10px;
}

main::-webkit-scrollbar-thumb:hover {
background: #000;  
}

.main-section{
    background: linear-gradient(102.44deg, #DEFFEB 9.56%, #DBEFFF 43.85%, #C1D5FB 78.56%);
}

.background{
    background-image: url('../img/eclispe.png');
}




.cool-button, .sec-cool-button {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.cool-button span {
    animation: arrow-animation 2s infinite alternate;
}

.cool-button-box:hover  > .cool-button span{
    cursor: pointer;
    color: aquamarine;
}

.cool-button-box:hover > .cool-button {
    color: aquamarine;
    cursor: pointer;
}

.cool-button-box:hover > .sec-cool-button {
    color: aquamarine;
    cursor: pointer;
}

.cool-button-box:hover > .sec-cool-button span {
    color: aquamarine;
    cursor: pointer;
}

@keyframes arrow-animation {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-50px);
    }

}

section img{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), #e0f4ff);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    animation: paint-animation 2s infinite alternate;
}

.show{
    transform: translateX(0) !important;
    transform: translateY(0) !important;
    opacity: 1 !important;
}

@keyframes paint-animation {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-50px);
    }

}

.sec-cool-button span {
    animation: sec-arrow-animation 2s infinite alternate;
}

@keyframes sec-arrow-animation {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(50px);
    }

}


</style>