---
import Head from "./Layout/Head.astro"
import Header from "./Components/Header.astro"
import Footer from "./Components/Footer.astro"
---


<Head></Head>

<body class="d-flex flex-column">
	<Header></Header>
    <main>
			<section class="main-section d-flex justify-content-between align-items-center">
				<div class="text-box">
					<div class="big-text"><p>A community built for
						<br>all the international students.</p></div>
					<div class="small-text"><p>Dear freshmen,<br>
						Even the greatest were beginners.<br>
						Follow our lead to find  yourself.</p></div>
					<div class="cool-button-box">
					<a class="cool-button">Explore Articles<span>>></span></a>
						</div>
				</div>
				<div class="paint">
					<img src="img/paint.png" alt="">
				</div>
			</section>
            <section class="sec-section d-flex justify-content-between align-items-center">
				<div class="club">
					<img src="img/club.png" alt="">
				</div>
                <div class="sec-text-box">
					<div class="big-text"><p>Don't Waste Your Time!!
                        <br>Join Our Clubs</p></div>
					<div class="small-text"><p>Dear freshmen,<br>
						Even the greatest were beginners.<br>
						Follow our lead to find  yourself.</p></div>
					<div class="cool-button-box">
					<a class="sec-cool-button"><span> << </span>Explore Clubs</a>
						</div>
				</div>
			</section>
            <section class="third-section d-flex justify-content-between align-items-center">
				<div class="text-box">
					<div class="big-text"><p>Read Our Blogs</p></div>
					<div class="small-text"><p>Dear freshmen,<br>
						Even the greatest were beginners.<br>
						Follow our lead to find  yourself.</p></div>
					<div class="cool-button-box">
					<a class="cool-button">Explore Articles<span>>></span></a>
						</div>
				</div>
				<div class="paint">
					<img src="img/career.png" alt="">
				</div>
			</section>
            <section class="fourth-section d-flex justify-content-between align-items-center">
				<div class="club">
					<img src="img/podcast.png" alt="">
				</div>
                <div class="sec-text-box">
					<div class="big-text"><p>Don't Waste Your Time!!
                        <br>Listen To Podcasts</p></div>
					<div class="small-text"><p>Dear freshmen,<br>
						Even the greatest were beginners.<br>
						Follow our lead to find  yourself.</p></div>
					<div class="cool-button-box">
                        <a class="sec-cool-button"><span> << </span>Explore Clubs</a>
						</div>
				</div>
			</section>
            <section class="final-section d-flex flex-column">
                <div class="newsletter d-flex justify-content-center align-items-center">
                    <div class="">
                        <h2 class="text-light text-center mb-4">
                            What are you waiting for? <br>
                            Subscribe to our weekly newsletter
                        </h2>
                        <div class="d-flex justify-content-between">
                            <input type="text" class="form-control email-subscribe" placeholder="Your Email Address...">
                            <button class="btn subscribe-btn">Subscribe</button>
                        </div>
                    </div>
                </div>
                <Footer></Footer>
			</section>
            
        </main>
	</body>

<style>


.newsletter{
    height: 45%;
    width: 100vw;
    background-color: #496076;
    font-family: 'Poppins';
}


html{
	margin: 0;
	padding: 0;
    overflow-y: hidden;
}

body{
    margin: 0;
	width: 100%;
    height: 100%;
}

main{
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

main section {
    scroll-snap-align: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.text-box {
    z-index: 5;
    margin-left: 12rem;
}

.big-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 2.125rem;
    line-height: 2.5rem;
}

.small-text {
    margin-top: 32px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

.cool-button, .sec-cool-button {
    text-decoration: none;
    color: #333;
    z-index: 10;
    font-family: 'Poppins';
    margin-top: 10px;
    width: 315px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    transition: all 0.5s ease-in;
}

.cool-button span {
    font-family: 'Poppins';
    font-size: 30px;
    color: black;
    animation: arrow-animation 2s infinite alternate;
}

.cool-button:hover {
    transform: scale(1.1);
}

@keyframes arrow-animation {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-50px);
    }

}

.paint {
    margin-right: 10rem;
    z-index: 5;
}

section img{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), #e0f4ff);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 2rem;
    width: 512px;
    height: auto;
    animation: paint-animation 2s infinite alternate;
}

.email-subscribe{
    width: 70%;
    height: 50px;
    border-radius: 20px;
}

.subscribe-btn{
    width: 125px;
    border-radius: 20px;
    color: #000;
    background-color: #C2F1D9;
}

@keyframes paint-animation {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-50px);
    }

}

.club {
    margin-left: 12rem;
}

.sec-text-box{
    margin-right: 15rem;

}

.sec-cool-button span {
    font-family: 'Poppins';
    font-size: 30px;
    color: black;
    animation: sec-arrow-animation 2s infinite alternate;
}

@keyframes sec-arrow-animation {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(50px);
    }

}


</style>