---

import Logout from '../../Components/Logout.svelte'
import Head from "../../Layout/Head.astro"

import { getUser } from "@astro-auth/core";
const user = getUser({ client: Astro });

if (!user) {
  return redirectUser("/login");
}

---

<Head title = {user.user.name} meta="Users" img="https://conceptians.org/img/conceptians.png">
</Head>


<body>
    <Logout client:load></Logout>
    <p>{user.user.name}</p>
    <p>{user.user.email}</p>
    <img src={user.user.image} alt="user">
</body>

