---

const emails = import.meta.env.PUBLIC_EMAIL;

---

<footer class="font-medium text-sm leading-8 border bg-cover w-full pt-[10px] md:pt-[80px]">
    <div>
       <!-- container -->
       <div class="grid grid-cols-1 text-center md:text-left md:grid-cols-12 ">
           <!-- part 1 -->
           <div class="md:col-span-4 md:col-start-2">
               <div>
                   <img class="m-auto md:m-1.5 w-[200px]"src="../C.png" alt="">
                   <p class="s-l-o">Students lead organization.</p>
               </div>
           </div>
           <!-- part 2 -->
           <div class="md:col-span-2">
               <h6 class="font-bold text-sm mb-[12px]">Studio</h6>
               <p >
                   <a class="hover:text-gray-600" href="#">About Us</a>
               </p>
               <p>
                   <a class="hover:text-gray-600" href="#">Carrers</a>
               </p>
               <p>
                   <a class="hover:text-gray-600" href="#">Contact Us</a>
               </p>
           </div>
           <!-- part 3 -->
           <div class="md:col-span-2">
               <h6 class="font-bold text-sm mb-[12px]">Contact Us</h6>
               <p>
                   <a class="hover:text-gray-600" href="mailto:info@conception.com">info@coneptians.org</a>
               </p>
               <p>
                   <a class="hover:text-gray-600" href="tel:+959677888112">+959-677-888-112</a>
               </p>
               <p class="leading-5">
                   3500 Rock Hole Rd<br>
                   Palo Alto, NYC
               </p>
           </div>

           <!-- part 4 -->
           <div class="md:col-span-2">
               <h6 class="font-bold text-sm mb-[12px]">Stay UpToDate</h6>
               <p class="">
                   <span>Follow our weekly newsletter</span>
                   <form id="form-submit" class="grid grid-cols-12">
                       <input type="email" id="sm-textbox" class="form-control col-span-9 col-start-2 md:col-start-1 shadow rounded" placeholder="Email" aria-label="Email" aria-describedby="button-addon2" required>
                       <button class=" shadow rounded col-span-1 md:col-span-2 hover:bg-gray-500 focus:bg-gray-700" type="submit">
                           <svg xmlns="2" width="16" height="16" fill="currentColor" class="hover:fill-white m-auto" viewBox="0 0 16 16">
                               <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                           </svg>
                       </button> 
                   </form>
               </p>
               <p >
                   <p >Follow Us:</p>
                   <a href="" class="inline-block">
                       <img class="bi-facebook w-[32px] h-[32px] hover:rotate-[360deg] transition duration-[1s]" src="img/facebook.png" alt="">
                   </a>
                   <a href="" class="inline-block">
                       <img class="bi-youtube w-[32px] h-[32px] hover:rotate-[360deg] transition duration-[1s]" src="img/youtube.png" alt="">
                   </a>
                   <a href="" class="inline-block">
                       <img class="bi-discord w-[32px] h-[32px] hover:rotate-[360deg] transition duration-[1s]" src="img/discord.png" alt="">
                   </a>
               </p>
           </div>
           <!-- part-4 -->
       </div>
   </div>
   <!-- Copyright -->
   <div class="text-center text-xs m-5 md:mb-1 text-zinc-700">
       CopyRighted © 2022 : <a class="" href="#">Conceptians</a>
   </div>
   <!-- Copyright -->
</footer>


<style>
    @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
    
    footer{
        background-image: linear-gradient(180deg, #D4FDE4 0%, #C1DFFC 100%);
        font-family: 'Cabin';
    }
</style>


<script is:inline define:vars={{ emails }}>

    const createMail = (email) => {
        axios.post(emails, email)
            .then(response => {
                const addedEmail = response.data;
                console.log(`POST: user is added`, addedEmail);
            })
            .catch(error => {console.log(error)});
    };
    
    const form = document.getElementById('form-submit');
    
    const formEvent = form.addEventListener('submit', event => {
        event.preventDefault();
    
        const email = document.getElementById('sm-textbox').value;
    
        const email_input = { email };
        createMail(email_input);
    });
    
</script>
