---

import Verify from '../../Components/Verify.svelte'
import Head from "../../Layout/Head.astro"

import "../../styles/global.css"
---

<Head title = "Verify" meta="Verification" img="https://conceptians.org/img/conceptians.png">
</Head>


<body>
    <Verify client:load></Verify>
</body>