---

import Create from '../../Components/Create.svelte'
import Head from "../../Layout/Head.astro"

import "../../styles/global.css"
---

<Head title = "Sign-In" meta="Sign-In For More Access" img="https://conceptians.org/img/conceptians.png">
</Head>


<body>
    <Create client:load></Create>
</body>

